<div class="container">
    <h3 class = "text-dark text-center" >Convertir a formato IEEE754</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="decimal">Decimal</label>
                <input type="number" class="form-control" id="decimal" placeholder="Introduzca un número">
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="ieee32">Resultado en IEEE754 32 bits</label>
                <input type="number" class="form-control"  id = "ieee32" placeholder="Resultado" [disabled] = "'true'">
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="ieee64">Resultado en IEEE754 64 bits</label>
                <input type="number" class="form-control" id = "ieee64" placeholder="Resultado" [disabled] = "'true'">
            </div>
        </div>
        
    </div>
    <button class = "btn btn-dark" (click) = "convertir()">Convertir</button>
</div>

<div class="container my-5">
    <h3 class = "text-dark text-center" >Convertir formato IEEE754 a decimal</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="decimal">IEEE754 32bits o 64bits</label>
                <input type="number" class="form-control" id="ieee754" placeholder="Introduzca un número">
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="ieee32">Resultado en decimal</label>
                <input type="number" class="form-control"  id = "ieee" placeholder="Resultado" [disabled] = "'true'">
            </div>
        </div>
    </div>
    <button class = "btn btn-dark" (click) = "convertir2()">Convertir</button>
</div>